<div class=" bg-red-400 w-full h-[72px] flex justify-center">
  <div class=" bg-white w-[1152px] h-full flex justify-between items-center">
    <nav class=" bg-blue-300 h-full w-one-third" x-data="{ isSubMenuOpen : false }">
      <ul class=" h-full w-full  flex items-center justify-start gap-3">
        {% for link in linklists[section.settings['first-navigation-menu']].links %}
          {% if link.links != blank %}
            <li>
              <a class=" flex items-center gap-1" href="{{ link.url }}">
                {{ link.title }}
                <span>{% render 'chevron-down-icon' %}</span>
              </a>
              <ul
                class=" absolute bg-white top-[120px] w-64 flex flex-col justify-center gap-4 shadow-md pt-4 "
                x-show="isSubMenuOpen"
              >
                {% for sublink in link.links %}
                  <li class=" ml-2">
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
                <li></li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class=" bg-green-300 h-full w-one-third flex items-center justify-center">Logo</div>
    <div class=" bg-yellow-300 h-full w-one-third flex items-center justify-end">Navigation 2</div>
  </div>
</div>

{% schema %}
{
  "name": "Navigation",
  "settings": [
    {
      "type": "link_list",
      "id": "first-navigation-menu",
      "label": "Changer le menu de navigation",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
