<div class="w-full h-[72px] flex justify-center">
  <div class=" bg-white w-[1152px] h-full flex justify-between items-center">
    <nav class="h-full w-one-third">
      <ul class=" h-full w-full  flex items-center justify-start gap-3">
        {% for link in linklists[section.settings['first-navigation-menu']].links %}
          {% if link.links != blank %}
            <li x-data="{ isSubMenuOpen : false }" @click.away="isSubMenuOpen = false">
              <button class=" flex items-center gap-1" x-on:click="isSubMenuOpen = ! isSubMenuOpen">
                {{ link.title }}
                <span>{% render 'chevron-down-icon' %}</span>
              </button>
              <ul
                class=" absolute bg-white w-64 flex flex-col justify-center gap-4 shadow-md pt-4 "
                x-show="isSubMenuOpen"
              >
                {% for sublink in link.links %}
                  <li class=" ml-2">
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
                <li></li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="h-full w-one-third flex items-center justify-center">
      {% if section.settings.logo != blank %}
        <a href="{{ routes.home_url }}">
          <img
            width="{{ section.settings.logo-width }}"
            height="auto"
            src="{{ section.settings.logo | image_url }}"
            alt="Logo personnalisé"
          >
        </a>
      {% else %}
        <a href="{{ routes.home_url }}"
          ><img width="150" height="auto" src="{{ 'logo-default.png' | asset_url }}" alt="Logo"
        ></a>
      {% endif %}
    </div>
    <div class="h-full w-one-third flex items-center justify-end gap-3">
      {% if section.settings['shopping-cart-icon'] != blank and section.settings['user-account-icon'] != blank %}
        <a href=""><img width="24" height="24" src="{{ section.settings.shopping-cart-icon | image_url }}" alt=""></a>
        <a href=""><img width="24" height="24" src="{{ section.settings.user-account-icon | image_url }}" alt=""></a>
      {% elsif section.settings['shopping-cart-icon'] != blank %}
        <a href=""><img width="24" height="24" src="{{ section.settings.shopping-cart-icon | image_url }}" alt=""></a>
        <a href="">{% render 'user-icon' %}</a>
      {% elsif section.settings['user-account-icon'] != blank %}
        <a href="">{% render 'shopping-bag-icon' %}</a>
        <a href=""><img width="24" height="24" src="{{ section.settings.user-account-icon | image_url }}" alt=""></a>
      {% else %}
        <a href="">{% render 'shopping-bag-icon' %}</a>
        <a href="">{% render 'user-icon' %}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Navigation",
  "settings": [
    {
      "type": "link_list",
      "id": "first-navigation-menu",
      "label": "Changer le menu de navigation :",
      "default": "main-menu"
    },

    {
      "type": "image_picker",
      "id": "logo",
      "label": "Changer le Logo :"
    },
    {
      "type": "number",
      "id": "logo-width",
      "label": "Changer la dimension du logo :",
      "default": 150
    },

    {
      "type": "image_picker",
      "id": "shopping-cart-icon",
      "label": "Changer l'îcone du panier (24x24) :"
    },
    {
      "type": "image_picker",
      "id": "user-account-icon",
      "label": "Changer l'îcone du compte (24x24):"
    }
  ]
}
{% endschema %}
